# Gradle 캐시 폴더 무시
aris_pkg/aris_pkg/app/MimoKioskApp/.gradle/
aris_pkg/aris_pkg/app/MimoKioskApp/local.properties
aris_pkg/aris_pkg/app/MimoKioskApp/.idea
aris_pkg/aris_pkg/gpt_api/.env
aris_pkg/aris_pkg/gpt_api/vosk-model-small-ko-0.22
